// Home Page 

// Light 
.main-ligt {
    background: #ffffff;
    height: inherit;


    .mx-text {
        white-space: pre-line;
        color: #000000;
    }

    div[tabindex] {
        outline: 0;
        background: #dbdbdb;
        border-radius: 5px;
        // padding: 3px;
    }

    div[tabindex]:hover {
        box-shadow: -1px 0px 5px #00f89a;
    }

    .img-responsive,
    .thumbnail>img,
    .thumbnail a>img,
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        display: block;
        max-width: 100%;
        height: auto;
        filter: brightness(0);
    }
}



// Dark 
.main-dark {
    background: #000;
    height: inherit;


    .mx-text {
        white-space: pre-line;
        color: #fff;
    }

    div[tabindex] {
        outline: 0;
        background: #141414;
        border-radius: 5px;
        // padding: 3px;
    }

    div[tabindex]:hover {
        box-shadow: -1px 0px 5px #00f89a;
    }

}

// ORG page


// lIGHT 

.org-light {
    background: #ffffff;
    height: inherit;


    .btn,
    .btn-default {

        position: relative;
        height: 35px;
        width: 100px;
        margin: 10px 7px;
        padding: 5px 5px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 2px;
        color: #020202;
        border: 1px #dbdbdb solid;
        border-radius: 8px;
        text-transform: uppercase;
        outline: 0;
        overflow: hidden;
        background: none;
        z-index: 1;
        cursor: pointer;
        transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
        background-color: #dbdbdb;
    }

    .btn:hover {
        color: #000000;
        border: 1px #26d594 solid;
        background: #26d594;

    }

    .form-control {
        display: flex;
        flex: 1;
        min-width: 50px;
        height: 39px;
        padding: 8px 8px;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        color: #0a1325;
        border: 1px solid #e7e7e9;
        border-radius: 4px;
        background-color: #dbdbdb;
        background-image: none;
        box-shadow: none;
        font-size: 14px;
        line-height: 1.428571429;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        margin-top: 9px;
    }

    .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #fff;
        box-shadow: none;
    }

    .org-dark .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #dbdbdb;
        box-shadow: none;
    }

    .org-dark .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #fff;
        box-shadow: none;
    }

    .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #dbdbdb;
        box-shadow: none;
    }

    .mx-text {
        white-space: pre-line;
        color: #000000;
    }
}
  

// Dark 

.org-dark {
    background: #000000;
    height: inherit;


    .btn,
    .btn-default {

        position: relative;
        height: 39px;
        width: 100px;
        margin: 10px 7px;
        padding: 5px 5px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 2px;
        color: #fff;
        border: 1px #26d594 solid;
        border-radius: 8px;
        text-transform: uppercase;
        outline: 0;
        overflow: hidden;
        background: none;
        z-index: 1;
        cursor: pointer;
        transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
    }

    .btn:hover {
        color: #000000;
        border: 1px #26d594 solid;
        background: #26d594;

    }

    .form-control {
        display: flex;
        flex: 1;
        min-width: 50px;
        height: 39px;
        padding: 8px 8px;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        color: #0a1325;
        border: 1px solid #e7e7e9;
        border-radius: 4px;
        background-color: #141414;
        background-image: none;
        box-shadow: none;
        font-size: 14px;
        line-height: 1.428571429;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        margin-top: 9px;
    }

    .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #fff;
        box-shadow: none;
    }

    .org-dark .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #141414;
        box-shadow: none;
    }

    .org-dark .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #fff;
        box-shadow: none;
    }

    .form-control:not([readonly]):focus {
        border-color: #26d594;
        outline: 0;
        background-color: #414141;
        box-shadow: none;
    }

    .mx-text {
        white-space: pre-line;
        color: #fff;
    }

    .mx-listview > ul > li {
        transition: all 0.3s 0s cubic-bezier(0.4, 0, 0.2, 1);
        transform-style: initial;
        background-color: #141414;
        padding: 16px;
        border-top: 1px solid #26d594;
    }

    .mx-listview > ul > li:last-child {
        border-bottom: 1px solid #26d594;
    }


}



.pop-up-dark{
   
    .form-group .control-label {
        overflow: hidden;
        margin-bottom: 4px;
        text-align: left;
        text-overflow: ellipsis;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
    }




    .mx-layoutgrid {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 8px;
        padding-left: 8px;
        BACKGROUND: black;
    }
.form-control {
    display: flex;
    flex: 1;
    min-width: 50px;
    height: auto;
    padding: 8px 8px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: #ffffff;
    border: 1px solid #e7e7e9;
    border-radius: 4px;
    background-color: #4e4e4e;
    background-image: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.428571429;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-control:not([readonly]):focus {
    border-color: #156452;
    outline: 0;
    background-color: #3c3c3c;
    box-shadow: none;
}
.btn,
.btn-default {

    position: relative;
    height: 40px;
    width: 100px;
    // margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    border: 1px #26d594 solid;
    border-radius: 8px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.btn:hover {
    color: #000000;
    border: 1px #26d594 solid;
    background: #26d594;

}

label{
    color: #fff;
}
}

// Light Popup 

.pop-up-light{
   
    .form-group .control-label {
        overflow: hidden;
        margin-bottom: 4px;
        text-align: left;
        text-overflow: ellipsis;
        color: #000000;
        font-size: 14px;
        font-weight: 600;
    }




    .mx-layoutgrid {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 8px;
        padding-left: 8px;
        BACKGROUND: rgb(255, 255, 255);
    }
.form-control {
    display: flex;
    flex: 1;
    min-width: 50px;
    height: auto;
    padding: 8px 8px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: #000000;
    border: 1px solid #e7e7e9;
    border-radius: 4px;
    background-color: #eceaea;
    background-image: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.428571429;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-control:not([readonly]):focus {
    border-color: #156452;
    outline: 0;
    background-color: #e7e5e5;
    box-shadow: none;
}
.btn,
.btn-default {

    position: relative;
    height: 40px;
    width: 100px;
    // margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #000000;
    border: 1px #26d594 solid;
    border-radius: 8px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.btn:hover {
    color: #ffffff;
    border: 1px #26d594 solid;
    background: #26d594;

}
}

.alert-danger {
    width: 70%;
    color: #88262f;
    border-color: #9f2c37;
    background-color: #f9d9dc;
}

.list-view-login{
.mx-listview > ul > li {
    transition: all 0.3s 0s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: initial;
    background-color: #000000;
    padding: 16px;
    border-top: 1px solid #000000;
    border: 1px solid;
    width: 100%;
    border-radius: 5px;
    color: #26d594;
}

.mx-link {
    padding: 0;
    color: #ffffff;
}
}