.powered-by-container{
    // margin-top: ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    img{
        width: 38% !important; 
    }
    .mx-text{
        display: block;
        margin-top: 5px;
        color: var(--primary-color);
        font-weight: 600;
    }
}
.mandatory-field{
 .control-label::after {
    content: "*";
    color: red;
    margin-left: 5px;
    }
}